<%= form_tag(action: @directory_info.root? ? :upload_index : :upload, multipart: true) do %>
  <%= hidden_field_tag 'path', @directory_info.requested_path unless @directory_info.root? %>
  <%= file_field_tag 'file',
      accept: 'text/*,application/javascript,text/css,text/plain',
      class: 'file-input' %>
  <input class="download" type="submit" value="Upload" />
<% end %>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Date</th>
      <th>Rename</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @directory_info.entries.each do |entry| %>
      <%= render partial: 'directory_entry', locals: { entry: entry } %>
    <% end %>
  </tbody>
</table>
